body {
    background-color: aliceblue;
    margin: 2em;
}

.titleBar {
    background-color: bisque; 
    border: .1em solid grey;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    display: flex;
    align-items: center;
}

.navBarTop {
    background-color: bisque; 
    border: .1em solid grey; 
    border-top: .1em dashed grey;
    display: flex;
    align-items: center;
}

.sideBar {
    background-color: #f0c899; 
    border: .1vw solid grey; 
    border-radius: 10px;
    display: list-item;
}

.schoolTitle {
    font-size: 3vw;
    text-align: center;
    text-shadow: 2px 2px lightgray;
}

.navItem {
    font-family: Arial;
    font-size: 1.4vw;
    border: .1vw solid gray;
    background: coral;
    text-align: center;
}

.navItem:hover {
    background-color: darkseagreen;
    color: floralwhite;
}

.navItem.active {
    background-color: green;
    color: floralwhite;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 1%;
}

ol {
    margin: 0;
    padding: .5em;
    list-style-type: none;
    list-style-position: outside;
    display: inline-table;
    border-left: 5px solid #eddada;
}

li {
    margin: 0 0 10px 0;
}